.CompleteMessage {
	background: #F2DB5D;
	padding-bottom: 50px;
}
.CompleteMessage-title {
	font-size: 20px;
	font-weight: 800;
	text-decoration: center;
	padding: 0px 10px;
	
}
.CompleteMessage-share {
	margin: 20px auto;
	font-size: 30px;
	border: 1px solid;
	display: inline-block;
	cursor: pointer;

}
.CompleteMessage-share:hover {
    box-shadow: 8px 0px 0px black, -8px 0px 0px black;
}
.CompleteMessage-item {
    padding: 10px;
    line-height: 1.8;
}
@media screen and (min-width: 400px){
	.CompleteMessage-item {
		width: 400px;
        margin: 10px auto;
        text-align: left;
	}
}
.CompleteMessage-link, .CompleteMessage-link:visited{
	color: white;
    background: #333333;
    text-decoration: none;
    padding: 1px 4px;
    margin: 5px;
}
.CompleteMessage-link:hover {
   text-decoration: underline;	
}