.App {
	width: 100%;
	position: relative;
	
	
}
.App-resultButton {
	width: 0;
	overflow: hidden;
}
.App-resultButton.is-actived{
	padding-top: 20vh;
	//background: yellow;
	//cursor: pointer;
	width: 100px;
	margin: 0 auto;
	height: 80vh;
	margin-bottom: 20vh;

}
.App-resultButton.is-completed{
	width: 100px;
	height: 100px;
	margin: 0 auto;

}
.App-resultImg {
	width: 100px;
}
.App-resultSection {
	height: 0px;
	overflow: hidden;
}
.App-resultSection.is-actived {
	height: auto;
}
@media screen and (min-width: 960px){
    .App {
	   margin: 0 auto;
	   text-align: center;
    }
}