.Cover-activateButton {
    width: 120px;
    margin: 0 auto;
    color: white;
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 0;
    right: 0;
    cursor: pointer;

    -webkit-animation-name: jump; 
    -webkit-animation-duration: 1s;   
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    
    animation-name: jump;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
/* Safari */
@-webkit-keyframes jump {
    0%   {bottom: 20px;}
    25%  {bottom: 25px;}
    50%  {bottom: 20px;}
    75%  {bottom: 25px;}
   100%  {bottom: 20px;}
}
/* Standard syntax */
@keyframes jump {
    0%   {bottom: 20px;}
    25%  {bottom: 25px;}
    50%  {bottom: 20px;}
    75%  {bottom: 25px;}
   100%  {bottom: 20px;}
}


.Cover-arrowBox {
    position: relative;
    background: #333333;
    border: 4px solid #333333;
    height: 40px;
    padding-top: 4px;
}
.Cover-arrowBox:after, .Cover-arrowBox:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

}
.Cover-arrowBox:after {
    border-color: rgba(51, 51, 51, 0);
    border-top-color: #333333;
    border-width: 5px;
    margin-left: -5px;
}
.Cover-arrowBox:before {
    border-color: rgba(51, 51, 51, 0);
    border-top-color: #333333;
    border-width: 10px;
    margin-left: -10px;
}


/* ==================================== */
.Cover-hero {
    min-height: 90vh;
    width: 100%;
    text-align: left;
    position: relative;
    color: #333333;
    background: white;
   
}
.Cover-logoSets {
    /*top: 0;
    position: absolute;*/
    padding: 10px 0px 0px 30px;
}
.Cover-logo {
    width: 80px;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}

.Cover-heroText {
    text-align: center;
    padding-top: 20px;
}
.Cover-heroSub {
    font-size: 18px;
}
.Cover-heroTitle{ 
    font-size: 40px;
    font-weight: 900;
}

.Cover-heroImage {    
   width: 100%;
}
@media screen and (min-width: 800px){
    .Cover-heroText {
       top: 40vh;
       left: 20%;
       position: absolute;
       text-align: left;
       box-shadow: 0px 5px 0px;
       left: 10%;
    
    }
}
@media screen and (min-width: 1000px){
    .Cover-heroText {
       top: 40vh;
       left: 20%;
       position: absolute;
       text-align: left;
       box-shadow: 0px 5px 0px;
       left: 20%;
    
    }
}
@media screen and (min-width: 800px){
    .Cover-heroTitle {
       font-size: 40px;
       font-weight: 900;
       
    }
    .Cover-heroSub {
       font-size: 18px;
    }
   .Cover-heroImage { 
       margin: 0px;
       width: 800px;
       padding-left: 200px;

   } 
}
.Cover-intro {
    
	min-height: 80vh;
	width: 100%;
	background: rgb(220,220,220);
	background: #F2DB5B;
	text-align: center;
	position: relative;
	color: #333333;
}
.Cover-content {
	padding: 10px; 
	text-align: center;
} 
.Cover-heroContent {
    padding: 10px; 
    text-align: center;
} 
.Cover-title {
	display: inline-block;
	font-size: 20px;
	width: 100%;
	font-weight: 700;
	margin-bottom: 20px;	
}
.Cover-titleMain {
	padding: 4px 10px;
  border-radius: 16px;
  float: left;
  font-size: 14px;
  color: white;
  display: inline-block;
  background: #DB5948;
  margin: 10px 0px;
    
}
.Cover-titleSub {
	width: 100%;
    font-size: 24px;
    font-weight: 700;
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
    text-align: left;
}
.Cover-description {
	text-align: left;
	background: white;
  	padding: 5px 30px;
  	box-shadow: 60px 0px 0px #EFE9D7, -60px 0px 0px #EFE9D7, 0px -10px 0px #EFE9D7, 0px 10px 0px #EFE9D7
}


@media screen and (min-width: 800px){
	.Cover-content {
		width: 800px;
		margin: 0 auto;
  }
  .Cover-title {
  	margin-top: 5vh;
  	display: inline-block;
  	font-size: 26px;
  	width: 100%;
  	font-weight: 700;
  	margin-bottom: 20px;	
  }
  .Cover-titleMain {
  	font-size: 16px;
  }
  .Cover-titleSub {
  	font-size: 40px;
  }
  .Cover-description {
  	text-align: left;
  	background: white;
    padding: 5px 30px;
    box-shadow: 60px 0px 0px #EFE9D7, -60px 0px 0px #EFE9D7, 0px -10px 0px #EFE9D7, 0px 10px 0px #EFE9D7
  }
}
.Cover-button {
	/*
	//border: 1px solid rgb(53,55,54);
	vertical-align: bottom;
    
    padding: 10px 30px 10px 30px;
	
	cursor: pointer;

	color: white;
	background: rgb(53,55,54);
	box-shadow: 6px 8px 0px 0px rgba(0,0,0,.16);	*/
	
	display: inline-block;
	font-weight: 900;
	margin: 20px 10px 50px 0px;
	cursor: pointer;
	font-size: 48px;
	text-shadow: 2px 2px 0px white, -2px -2px white, -2px 2px white, 2px -2px white;

    -webkit-animation-name: shake; 
    -webkit-animation-duration: 0.5s;   
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    
    
    animation-name: shake;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    

}

@-webkit-keyframes shake {
    0% {-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg);}
   25% {-ms-transform: rotate(7deg); -webkit-transform: rotate(7deg); transform: rotate(7deg);}
   50% {-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg);}
   75% {-ms-transform: rotate(-7deg); -webkit-transform: rotate(-7deg); transform: rotate(-7deg);}
  100% {-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg);}  
}
@keyframes shake {
    0% {-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg);}
   25% {-ms-transform: rotate(7deg); -webkit-transform: rotate(7deg); transform: rotate(7deg);}
   50% {-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg);}
   75% {-ms-transform: rotate(-7deg); -webkit-transform: rotate(-7deg); transform: rotate(-7deg);}
  100% {-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg);}  
}
.Cover-about {

  font-size: 12px;
  color: rgb(100,100,100);
  padding: 10px;
}
@media screen and (min-width: 600px){
  .Cover-about {
      position: absolute;
      top: 10px;
      right: 10px;
      max-width: 200px;
      font-size: 12px;
      text-align: left;
  }
}