.Answer {
	height: 0px;
	overflow: hidden;
	
	position: relative;

}
@media screen and (min-width: 400px){
	.Answer.is-completed {
		padding-top: 100px;
    }
}
.Answer.is-completed {
	height: auto;
	min-height: 50vh;
	padding-top: 150px;
}
/*
canvas {
	width: 100%;
	height: 200px;
	margin: 0px 5px;
}
@media screen and (min-width: 400px){
	canvas {
	   width: 400px;
	   height: 200px;
    }
}
*/

.Answer-flexGrid {
	padding-top: 10px;
	width: 100%;
	padding: 0px 5px 0px 5px;
	margin: 0 auto;
    display: flex;
    display: -webkit-flex; /* for safari */
}
@media screen and (min-width: 400px){
	.Answer-flexGrid {
    	padding-top: 10px;
    	width: 400px;
    	padding: 0px 5px 0px 5px;
    	margin: 0 auto;
        display: flex;
        display: -webkit-flex; /* for safari */
    }
}

.Answer-flexCell {
    flex: 1;
    -webkit-flex: 1; /* for safari */
    text-align: center;
}
.Answer-version {
	left: 0px;
    width: 100%;
    position: absolute;
    bottom: 100px;
}
@media screen and (min-width: 600px){
	.Answer-version {
    	width: auto;
    	left: 10px;

    }

}
.Answer-flexCellIndex {
	font-size: 20px;
	margin-bottom: 20px;
    color: #999;
    font-weight: 900;;
}